body{
	font-family: 'Unbounded', cursive;
	background: #F9F9F9;
}

body *{ /*Qualquer estilo aqui serve para todos os elementos do body*/
	box-sizing: border-box;
}

.cabecalho{
	background: #0d2329;
	
}
header img{
	padding: 0px 0px 0px 280px;
	margin: 0px 0px 0px 280px;
}

h1{
	color: white;
	padding: 20px 10px 0px 60px;
	margin: 20px 10px 0px 60px;
	display: block;
	font-size: 23px;
	text-align: center;
}

.corpo-menu{
	padding: 50px 20px 50px 20px;
	margin: 50px 20px 50px 20px;
	text-align: center;
}

.main{
	display: block;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
}

button{
	font-family: 'Unbounded', cursive;
	
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	width: 300px;
	height: 100px;
	font-size: 16px;
	font-weight: bold;

	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 2s all;
}

button:hover{
	background: #CFFF5D;
	transform: scale(1.1);
}


/* pagina cadastro-de-materiais */

.titulo{
	padding: 20px 20px 20px 20px;
	margin: 20px 20px 20px 20px;
	text-align: center;
	font-size: 35px;
}

.secao-dados{
	padding: 10px;
	margin: 10px;
}

.ficha-dados{
	padding: 10px;
	margin: 10px;
}

div label{
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	display: inline;
}
div input{
	padding: 10px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
	text-align: center;
	outline: 0;
}

textarea{
	text-align: center;
	resize: none;
	border: none;

	display: grid;
	margin-bottom: 10px;
	width: 600px;

}


#iDesc{
	display: inline;
	width: 600px;
	height: 30px;
	font-size: left;
	margin-top: 15px;
	
}

.footer{
	padding: 30px 10px 30px 10px;
	margin: 30px 10px 30px 10px;
}

.card{
	background: #fafbfc;
	border: 1px solid #CCC;
	padding: 15px;
	border-radius: 10px;
}

.lineInput{
	display: grid;
	margin-bottom: 10px;
	width: 600px;
}

.content{
	margin-top: 15px;
}

table{
	border-collapse: collapse;
	border: 2px solid #CCC;
	width: 100%;
}

table th{
	background-color: #E4EBFA;
	border: 2px solid #CCC;
}



table th, td{
	border: 2px solid #CCC;
	padding: 5px 5px;
	text-align: center;
}

.main-login{
	width: 100vw;
	height: 100vh;
	background: #201b2c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-login{
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.left-login > h1{
	font-size: 3vw;
	color: #77ffc0;
}

.login-animate{
	width:45vw;
}

.right-login{
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-login{
	width: 60%; /*o percentual pega apenas a tela da div*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 35px;
	background: #2f2841;
	border-radius: 20px;
	box-shadow: 0px 10px 40px #50404056;
}

.card-login > h1{
	color: #00ff88;
	font-weight: 800;
	margin: 0;
}

.textfield{
	width: 100%;
	display: flex;
	flex-direction: column; 
	align-items: flex-start;
	justify-content: center;
}

.textfield > input{
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #514869;
	color: #f0ffffde;
	font-size: 12pt;
	box-shadow: 0px 10px 40px #50404056;
	box-sizing: border-box;
}

.textfield > label{
	color: #f0ffffde;
	margin-bottom: 10px;
}

.textfield > input::placeholder{
	color: #f0ffff94 ;
}

.btn-login{
	width: 100%;
	padding: 16px 0px;
	margin: 25px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: #2b134b;
	background: #00ff88;
	box-shadow: 0px 10px 40px -12px #00FF8052;

}

@media only screen and (max-width: 950px){
	.card-login{
		width: 85%;
	}
}


@media only screen and (max-width: 600px){
	.main-login{
		flex-direction: column;
	}

	.left-login > h1{
		display: none;
	}

	.left-login, .right-login{
		width: 100%;
		height: auto;
	}

	.login-animate{
		width: 50vw;
	}

	.card-login{
		width: 90%;
	}
}